@using Test_MVC_2.Models

@model List<Pizza>
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutPersonalizzato";

}

<h1>MENU</h1>
<h2>Le Nostre Pizze</h2>



<div class="pizza-cont">
    @foreach (var pizza in Model)
    {
        <div class="pizza">
            <div class="name">@pizza.Name</div>
            <div class="description">@pizza.Description</div>
            <div class="url">
                <img src="@pizza.Url" alt="@pizza.Name" class="img-fluid" style="max-width: 300px;" />
            </div>
            <div class="price">Prezzo: @pizza.Price.ToString("C")</div>
            <button><a href="@Url.Action("Show", "Pizza", new{ id = pizza.Id})">Mostra dettaglio pizza</a></button>
            <button>
                <a href="@Url.Action("Update", "Pizza", new{ id = pizza.Id})">
                    Modifica
                </a>
            </button>
            <form asp-controller="Pizza" asp-action="Delete" asp-route-id="@pizza.Id" method="post">
                @Html.AntiForgeryToken()
                <input type="submit" value="Elimina" />
            </form>
        </div>
    }

</div>

<div class="new_pizza">
    <a href="@Url.Action("Create", "Pizza")" id="new_pizza-link">
        Aggiungi una nuova pizza!!!
    </a>
</div>

<style>
    .pizza-cont {
        display:flex;
        align-content: center;
        align-items:center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .pizza {
        flex-basis: calc((100% / 4) - 10px);
    }
    .new_pizza {
        width: 50%;
        margin:auto;
        display:flex;
        justify-content:center;
    }

    #new_pizza-link {
        margin:auto;
        text-align:center;
    }


</style>
