@using Test_MVC_2.Models

@model PizzaFormModel
@{
    ViewData["Title"] = "Show";
    Layout = "_LayoutPersonalizzato";


}


<h1>MENU</h1>
<h2>Dettaglio pizza</h2>

<h1>Ecco la @Model.pizza.Name </h1>
<img src="@Url.Content("~/" + Model.pizza.Url)" alt="@Model.pizza.Name" class="img-fluid" style="max-width: 300px;" />
<p>@Model.pizza.Description</p>
<p>@Model.pizza.GetDisplayedCategory()</p>

@foreach (var ingredient in Model.Ingredients)
{
    if (ingredient.Selected)
    {
        <p>@ingredient.Text</p>
    }
}
<strong>Prezzo: </strong>
<span>@Model.pizza.Price </span>

<style>

</style>
